# Database Configuration
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=flight_reservation_db

# Valkey Configuration
VALKEY_PASSWORD=valkey_password

# Application Configuration
APP_PORT=8080
SPRING_PROFILES_ACTIVE=prod

# Docker Registry Configuration
APP_IMAGE_TAG=latest
