# Database Configuration
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=flight_reservation_db

# Valkey Configuration
VALKEY_PASSWORD=valkey_password

# Application Configuration
JWT_SECRET_KEY=base64_32bytes_secret
SPRING_PROFILES_ACTIVE=prod

# Docker Registry Configuration
APP_IMAGE_TAG=latest

# Comma-separated list of optional Docker Compose profiles to enable (e.g. proxy, observability)
COMPOSE_PROFILES=proxy,observability

# Caddy Configuration
DOMAIN=localhost

# (Optional) Space-separated list of trusted proxy IPs (e.g., Cloudflare IPs)
TRUSTED_PROXIES=

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
